@tailwind base;
@tailwind components;
@tailwind utilities;

/*==============================
        COMMON CODE
 ==============================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none !important;
  outline: none !important;
  text-decoration: none !important;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  /* background: #2c3338; */
  min-height: calc(100vh);
  padding-top: 40px;
}

section,
header,
footer {
  width: 100%;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
  outline: 0;
  outline-offset: 0;
  background: transparent;
}

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.container {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
}

.btn__primary {
  min-width: 80px;
  padding: 5px 20px;
  display: grid;
  place-items: center;
  font-weight: 700;
  border-radius: 3px;
  background: rgb(146 64 14);
}

.btn__primary:hover {
  background: rgb(129, 50, 1);
}

.btn__outline {
  min-width: 80px;
  padding: 2px 20px 5px;
  display: grid;
  place-items: center;
  font-weight: 700;
  border-radius: 3px;
  border: 1.8px solid rgb(146 64 14) !important;
}

.btn__outline:hover {
  background: rgb(129, 50, 1);
}

.btn__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* NAV */
/* #navbar::before {
  content: "";
  width: 400px;
  height: 100vh;
  background: rgba(41, 41, 41, 0.415);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-1000px);
} */
#navbar li {
  border-bottom: 1.7px solid transparent !important;
  padding: 5px 0;
}

#navbar li a {
  display: block;
}

#navbar li:hover {
  border-bottom: 1.7px solid #2c3338 !important;
  color: #fff;
}

/* Login */
#login_page,
#signup_page,
#create_blog_page {
  min-height: calc(100vh);
  padding-top: 30px;
}
#login_page .form__field,
#signup_page .form__field {
  display: grid;
  grid-template-columns: 35px 250px;
}

/* .border_btn {
  border: 1.5px solid purple !important;
  padding: 2px 10px 6px;
  border-radius: 5px;
} */

@keyframes scale2 {
  0% {
    transform: scale(20);
  }

  100% {
    transform: scale(1);
  }
}

.animated__text {
  animation: scale2 0.5s linear;
}

/* TABLE */
table,
th,
td {
  border: 1px solid black !important;
}

th,
td {
  padding: 5px;
}

button:disabled {
  /* background: #000000;
  color: #fff; */
  color: #000;
  opacity: 0.6;
  /* text-decoration: line-through 2px solid #fff !important; */
}
/*  */

/* Rich Text */
.jodit-react-container {
  width: 100%;
}
.jodit-status-bar__item-right .jodit-status-bar-link {
  display: none;
}
.jodit-wysiwyg {
  height: 180px !important;
}
